<%-include ("navigator")%>
   <table>

      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>id</th>
      <th>to be added</th>

   <tr>

    <td><%=name%></td>
    <td><%=price%></td>
    <td><%=description%></td>
    <td><%=id%></td>
    <td><button>addChart</button></td>
   </tr>

   </table>

   </div>
   <%-include ("end")%>